[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
*.csproj
*.sln
*.suo
*.user
*.userosscache
# *.unitypackage
*.sln.docstates
*.bin
.DS_Store
Thumbs.db
.vs/FPSPractice05_3/FileContentIndex/636b83ad-940c-491b-8a78-ffea8ac5ec4c.vsidx
.vs/FPSPractice05_3/FileContentIndex/93cfae10-7955-4c07-8563-ff3e79985736.vsidx
.vs/FPSPractice05_3/FileContentIndex/a20cbba5-39bd-4710-a98c-63258623aa85.vsidx
.vs/FPSPractice05_3/FileContentIndex/c9576827-3d5f-42a8-8fd3-33895a04fcb8.vsidx
.vs/FPSPractice05_3/FileContentIndex/e6891f47-3179-466c-96b5-e1bc14e50fc7.vsidx
.vs/FPSPractice05_3/FileContentIndex/read.lock
